flows.json
[{"id":"ad670076.23e2","type":"tab","label":"smartagri","disabled":false,"info":""},{"id":"e32b63b6.1111a8","type":"ibmiot in","z":"ad670076.23e2","authentication":"apiKey","apiKey":"39f672af.e465d6","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"smartagri","applicationId":"","deviceType":"agroiot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":180,"wires":[["8ceec1a4.fbe69","2c136fe9.72cda","95899c95.42e3f","d3ccf95d.5f06c8"]]},{"id":"8ceec1a4.fbe69","type":"debug","z":"ad670076.23e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"2c136fe9.72cda","type":"function","z":"ad670076.23e2","name":"Temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["8ceec1a4.fbe69","72926e2f.b450d"]]},{"id":"95899c95.42e3f","type":"function","z":"ad670076.23e2","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["8ceec1a4.fbe69","a00be401.30081"]]},{"id":"d3ccf95d.5f06c8","type":"function","z":"ad670076.23e2","name":"soil moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["8ceec1a4.fbe69","8eae7ccc.08e978"]]},{"id":"72926e2f.b450d","type":"ui_gauge","z":"ad670076.23e2","name":"Temperature","group":"7ebaba93.b1190c","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":220,"wires":[]},{"id":"a00be401.30081","type":"ui_chart","z":"ad670076.23e2","name":"humidity","group":"2a061eab.7d94a2","order":1,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":280,"wires":[[]]},{"id":"ac16ff68.599ad","type":"ibmiot out","z":"ad670076.23e2","authentication":"apiKey","apiKey":"39f672af.e465d6","outputType":"cmd","deviceId":"smartagri2.0","deviceType":"agroiot","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":690,"y":580,"wires":[]},{"id":"c00cdad0.c7dd38","type":"ui_button","z":"ad670076.23e2","name":"","group":"7ebaba93.b1190c","order":3,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":260,"y":440,"wires":[["ac16ff68.599ad","77bde66f.b3b448"]]},{"id":"e001ee10.c48cc","type":"ui_button","z":"ad670076.23e2","name":"","group":"7ebaba93.b1190c","order":4,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":260,"y":580,"wires":[["ac16ff68.599ad","77bde66f.b3b448"]]},{"id":"77bde66f.b3b448","type":"debug","z":"ad670076.23e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":440,"wires":[]},{"id":"cf3c9b6.d9131e8","type":"http request","z":"ad670076.23e2","name":"request json","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Delhi,%20IN&appid=687f48c0c4a74146e76a3054da206b45{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":400,"wires":[["bb67a171.8ee9b"]]},{"id":"be6ebca.f670fc","type":"inject","z":"ad670076.23e2","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":480,"wires":[["cf3c9b6.d9131e8","3fae1fbf.d4cd18","a43d9d46.66d4e"]]},{"id":"8eae7ccc.08e978","type":"ui_gauge","z":"ad670076.23e2","name":"","group":"debe8a71.2349d8","order":3,"width":0,"height":0,"gtype":"wave","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":340,"wires":[]},{"id":"bb67a171.8ee9b","type":"change","z":"ad670076.23e2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":400,"wires":[["b50e540e.fb313"]]},{"id":"f9907ad7.27b298","type":"ui_gauge","z":"ad670076.23e2","name":"","group":"f1f5fa29.f3086","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":600,"wires":[]},{"id":"da5f9ee4.d67e","type":"change","z":"ad670076.23e2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":580,"wires":[["f9907ad7.27b298"]]},{"id":"5149c3b5.7e230c","type":"ui_gauge","z":"ad670076.23e2","name":"","group":"6b22e8ee.07fd3","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"0C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":380,"wires":[]},{"id":"3fae1fbf.d4cd18","type":"http request","z":"ad670076.23e2","name":"request json","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Delhi,%20IN&appid=687f48c0c4a74146e76a3054da206b45{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":1034.166748046875,"y":646.75,"wires":[["da5f9ee4.d67e"]]},{"id":"b50e540e.fb313","type":"function","z":"ad670076.23e2","name":"","func":"msg.payload=msg.payload-273.0;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":320,"wires":[["5149c3b5.7e230c"]]},{"id":"a43d9d46.66d4e","type":"http request","z":"ad670076.23e2","name":"request json","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Delhi,%20IN&appid=687f48c0c4a74146e76a3054da206b45{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":1050.75,"y":761.9166259765625,"wires":[["22d8d32e.826a4c"]]},{"id":"22d8d32e.826a4c","type":"change","z":"ad670076.23e2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":740,"wires":[["fa86d0d9.45bb8","4f7efd76.f227bc"]]},{"id":"fa86d0d9.45bb8","type":"ui_text","z":"ad670076.23e2","group":"69b3e54d.4853a4","order":0,"width":"4","height":"1","name":"","label":"weather description:","format":"{{msg.payload}}","layout":"row-center","x":1540,"y":720,"wires":[]},{"id":"4f7efd76.f227bc","type":"debug","z":"ad670076.23e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":840,"wires":[]},{"id":"39f672af.e465d6","type":"ibmiot","z":"","name":"smartagri","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7ebaba93.b1190c","type":"ui_group","z":"","name":"TEMPERATURE","tab":"b275a257.c2107","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a061eab.7d94a2","type":"ui_group","z":"","name":"HUMIDITY","tab":"b275a257.c2107","order":2,"disp":true,"width":"6","collapse":false},{"id":"debe8a71.2349d8","type":"ui_group","z":"","name":"SOIL MOISTURE","tab":"b275a257.c2107","order":3,"disp":true,"width":"6","collapse":false},{"id":"f1f5fa29.f3086","type":"ui_group","z":"","name":"humidity","tab":"2219af22.ffcd78","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b22e8ee.07fd3","type":"ui_group","z":"","name":"Temperature","tab":"2219af22.ffcd78","order":4,"disp":true,"width":"6","collapse":false},{"id":"69b3e54d.4853a4","type":"ui_group","z":"","name":"Description","tab":"2219af22.ffcd78","order":3,"disp":true,"width":"6","collapse":false},{"id":"b275a257.c2107","type":"ui_tab","z":"","name":"sensor data","icon":"mi-dashboard","disabled":false,"hidden":false},{"id":"2219af22.ffcd78","type":"ui_tab","z":"","name":"Weather api data","icon":"dashboard","disabled":false,"hidden":false}]